.container {
    width: 130rem;
    height: calc(100% - 5rem);
    margin: 2rem auto 0 auto;
    background-color: var(--container-background);
    border-radius: 1.6rem;

    .header {
        width: 100%;
        height: 5rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: #33A9AC;
        border-top-left-radius: 1.6rem;
        border-top-right-radius: 1.6rem;

        .date {
            font-weight: 700;
            font-size: var(--text-big);
            margin-right: 4rem;
        }
    }

    .planner-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 0 .6rem 0 .6rem;
    }
}

@media (max-width: 700px) {
    .container .header .date {
        font-size: var(--text-sm);
        margin-right: 3rem;
    }
}